---
import About from '@components/About.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '@components/Hero.astro'
import Logo from '@components/Logo.astro';
import Products from '@components/Products.astro';
import Quality from '@components/Quality.astro'
import Service from '@components/Service.astro';
import Conatct from '@components/Conatct.astro';

---

<Layout title="Yvenoz Services">
	<main>
	<Hero/>
	<Quality/>
	<Logo/>
	<Service/>
	<Products/>
	<About/>
	<Conatct/>
	</main>
</Layout>

<style>
	
</style>
