---

---


<div class="button">
  <span>
    <slot>EN SAVOIR PLUS</slot>
  </span>
</div>


<style>
  .button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 10rem;
    
  
    background-color: var(--accent);
    border-radius: 3px;
    
    
    
  }

  span {
    
    background-color: var(--primary-button);
    width: 100%;
    
    font-weight: 600;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .button:hover span {
    transform: translate(-6px, -6px);
  }

  
</style>