<section>
  
	<div class="navigation">
		<span>menu</span>
		<ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about">À propos</a></li>
      <li><a href="#contact">Contacts</a></li>
    </ul>
	</div>

	<div class="kits">
		<span>kits</span>
		<ul>
			<li>
				<a href="#motorisation-portail">Motorisation portail</a>
			</li>
			<li>
				<a href="#porte-garage">Porte de garage</a>
			</li>
			<li>
				<a href="#barriere-levante">Barrière levante et tourniquet</a>
			</li>
		</ul>
	</div>

	<div class="social">
		<span>social</span>
		<ul>
			<li>
				<a href="mailto:yvenoz.services@outlook.fr">yvenoz.services@outlook.fr</a>
			</li>
			<li>
				<a href="https://www.facebook.com/profile.php?id=100064108421949" target="_blank"> facebook </a>
			</li>
			<li>
				<a href="https://wa.me/33623381963" target="_blank"> whatsapp </a>
			</li>
		</ul>
	</div>

  <div class="phone">
    <span>cell</span>
    <ul>
      <li> +225 07 24 32 09  / +225 01 03 69 60 09</li>
      <li>33(0) 623 28 19 63</li>
    </ul>
  </div>
</section>

<style lang="scss">
  section {
    background-color: var(--primary);
    color: var(--secondary);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

  a, li {
    color: var(--primary-button);
  }


	@media (max-width: 830px) {
  section {
		grid-template-columns: repeat(2, 1fr);
	}
}
	@media (max-width: 460px) {
  section {
		grid-template-columns: 1fr;
	}

	section > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
</style>