<nav>
  <div class="logo"></div>
  <ul>
    <li><a href="/">ACCUEIL</a></li>
    <li><a href="#services">SERVICES</a></li>
    <li><a href="#produits">PRODUITS</a></li>
    <li><a href="#contacts">CONTACTS</a></li>
  </ul>
</nav>

<style >
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vw;

  }
    ul {
      display: flex;
      align-items: ce;
      justify-content: center;
      gap: 20px;
    }

    li {
      overflow: hidden;
      padding: 3px 0;
    }

  .logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primary-button);
  }

  a {
    color: var(--text);
    position: relative;
  }

  a:hover {
    color: var(--primary-button);
  }

  a::before, a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    bottom: -1px;
  }

  a::before {
    transform-origin: -100% 0;
    transform: scaleX(1);
    transition: transform 0.3s ease-out;
  }
  a::after {
    transform-origin: 100% 0;
    transform: scaleX(1);
    transition: transform 0.3s ease-out;
  }

  a:hover::after {
    transform-origin: 0 0;
    transform: scaleX(0);
  }
  a:hover::before {
    transform-origin: 100% 0;
    transform: scaleX(0);
  }
</style>